.TeamPage{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row-gap:10px;
    grid-column-gap:10px ;

    .team-name-section{
        grid-column: span 3;
        justify-self: start;
        align-self: end;

    }

    .team-name{
        font-size:3rem;
        margin-bottom:20px;
    }

    .win-loss-section{
        justify-self: center;
        padding: 30px;
        text-align: center;
    }

    .match-detail-section{
        grid-column: span 4;
    }

    .more-link{
         justify-self:center;
         align-self:center;
    }
}