.NavBar{

    display:flex;
    justify-content:space-around;
    align-items:center;
    height:4em;
    background-color:#383c46 ;
    margin-bottom:3em;
    box-shadow: 1.95px 1.95px 2.6px  rgba(0, 0, 0, 0.15);
}